<% provide(:title, "Log in") %>

    <% flash.each do |type, msg| %>
      <div class = "alert alert-info">
        <%= msg %>
      </div>
    <% end %>




<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<div class="center jumbotron">
	<h1>Accedi</h1>
	
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <% if devise_mapping.rememberable? %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Ricordami</span>
            <% end %>

      <% end %>


      <%= f.submit "Accedi", class: "btn btn-lg btn-primary" %>

    <% end %>
	<br>
    <p><%= link_to "Password dimenticata?", new_user_password_path %></p>

    <p>
	<%= link_to "Indietro", root_path, class: "btn btn-lg btn-link" %><br>
	
	 </div>
  </div>
</div>
