<% provide(:title, "Edit user") %>
<div class="col-md-6 col-md-offset-3">
    <div class="center jumbotron">
<h1>Modifica il tuo profilo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <% if current_user.demenza? %>
      <%= f.label :Codice_associazione_ %><h4><%= current_user.id %></h4>
      <% end %>
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :cognome %>
      <%= f.text_field :cognome, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :città %>
      <%= f.text_field :citta, class: 'form-control' %>

      <%= f.label :regione %>
      <%= f.text_field :regione, class: 'form-control' %>

      <%= f.label :indirizzo %>
      <%= f.text_field :indirizzo, class: 'form-control' %>

      <%= f.label :datanascita %>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'password', class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, autocomplete: 'password_confirmation', class: 'form-control' %><br>

      <%= f.label :picture %><br>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %><br>

      

      <%= f.submit "Salva", class: "btn btn-primary" %>
      <%= link_to 'Back', root_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</div>



<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('La dimensione massima del file è 5 MB. Scegli un file più piccolo.');
    }
  });
</script>

