<%= form_with(model: monitoraggio, local: true) do |form| %>
  <% if monitoraggio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monitoraggio.errors.count, "error") %> prohibited this monitoraggio from being saved:</h2>

      <ul>
      <% monitoraggio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.datetime_select :data, id: :monitoraggio_data %>
  </div>

  <div class="field">
    <%= form.label :orientamentosp %>
    <%= form.number_field :orientamentosp, id: :monitoraggio_orientamentosp %>
  </div>

  <div class="field">
    <%= form.label :memoria %>
    <%= form.number_field :memoria, id: :monitoraggio_memoria %>
  </div>

  <div class="field">
    <%= form.label :calcolo %>
    <%= form.number_field :calcolo, id: :monitoraggio_calcolo %>
  </div>

  <div class="field">
    <%= form.label :richiamo %>
    <%= form.number_field :richiamo, id: :monitoraggio_richiamo %>
  </div>

  <div class="field">
    <%= form.label :linguaggio %>
    <%= form.number_field :linguaggio, id: :monitoraggio_linguaggio %>
  </div>

  <div class="field">
    <%= form.label :totale %>
    <%= form.number_field :totale, id: :monitoraggio_totale %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
