<p id="notice"><%= notice %></p>

<h1>Monitoraggios</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Orientamentosp</th>
      <th>Memoria</th>
      <th>Calcolo</th>
      <th>Richiamo</th>
      <th>Linguaggio</th>
      <th>Totale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monitoraggios.each do |monitoraggio| %>
      <tr>
        <td><%= monitoraggio.data %></td>
        <td><%= monitoraggio.orientamentosp %></td>
        <td><%= monitoraggio.memoria %></td>
        <td><%= monitoraggio.calcolo %></td>
        <td><%= monitoraggio.richiamo %></td>
        <td><%= monitoraggio.linguaggio %></td>
        <td><%= monitoraggio.totale %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


