
<% flash.each do |type, msg| %>
    <div class = "alert alert-info">
       <%= msg %>
    </div>
<% end %>
<div class="col-md-6 col-md-offset-3">

    <div class="center jumbotron">
<h1>Test</h1>
<%= form_for :monitoraggio,  url: user_monitoraggios_path(current_user), html: { method: :post } do |f| %>
      <p>
      <br>
      <h5>Scrivi negli appositi spazi giorno, mese, anno e stagione corrente</h5><br>
      <%= f.label :Giorno %>
      <%= f.text_field :giorno, class: 'form-control', placeholder: "Es: 2" %>
	</p>
        <p>
      <%= f.label :Mese %>
      <%= f.text_field :mese, class: 'form-control', placeholder: "Es: March (scrivi il mese in inglese, se ti trovi in difficoltà fatti aiutare o usa google translate dal web)" %>
	</p>
	<p>
      <%= f.label :Anno %>
      <%= f.text_field :anno, class: 'form-control', placeholder: "Es: 1998" %>
	</p>
	<p>
      <%= f.label :Stagione %>
      <%= f.text_field :stagione, class: 'form-control', placeholder: "Es: Inverno" %>
	</p>
	<p>
	<br>
	<h5>Scrivi le informazioni richieste facendo riferimento al luogo in cui abiti</h5><br>
      <%= f.label :Città %>
      <%= f.text_field :citta, class: 'form-control', placeholder: "Es: Roma" %>
	</p>
	<p>
      <%= f.label :Regione %>
      <%= f.text_field :regione, class: 'form-control', placeholder: "Es: Lombardia" %>
	</p>
	<p>
      <%= f.label :Stato %>
      <%= f.text_field :stato, class: 'form-control', placeholder: "Es: Italia" %>
	</p>
	<p>
	<br>
	<h5>Scrivi le parole, nell'ordine corretto, che hai letto prima di iniziare il test</h5><br>
      <%= f.label :Parola_1%>
      <%= f.text_field :parola1, class: 'form-control', placeholder: "Es: cavallo" %>
      	</p>
	<p>
      <%= f.label :Parola_2%>
      <%= f.text_field :parola2, class: 'form-control' %>
	</p>
	<p>
      <%= f.label :Parola_3%>
      <%= f.text_field :parola3, class: 'form-control' %>
	</p>
	<p>
	<br>
      <%= f.label :Fai_la_somma%>
	<br>
	<h5>12+20</h5>
      <%= f.text_field :somma, class: 'form-control', placeholder: "Es: 21" %>
	</p>
	<p>
	<br>
	<h5>Scrivi nuovamente le parole, nell'ordine corretto, che hai letto prima di iniziare il test, non copiare le risposte precedenti</h5><br>
      <%= f.label :Parola_1%>
      <%= f.text_field :parola4, class: 'form-control' %>
      	</p>
	<p>
      <%= f.label :Parola_2%>
      <%= f.text_field :parola5, class: 'form-control' %>
	</p>
	<p>
      <%= f.label :Parola_3%>
      <%= f.text_field :parola6, class: 'form-control' %>
	</p>
	<p>
	<br>
	<h5>Scrivi nello spazio corretto il nome degli oggetti riportati in figura</h5><br>
      <h4>1</h4><%= image_tag "palla.jpg", :size => "50x70" %><br>
      <h4>2</h4><%= image_tag "orologio1.jpg", :size => "70x70" %>
      </p>
     

        </p>
	<p>
      <%= f.label :Oggetto_1%>
      <%= f.text_field :oggetto1, class: 'form-control' %>
	</p>
	<p>
      <%= f.label :Oggetto_2%>
      <%= f.text_field :oggetto2, class: 'form-control' %>
 	</p>
	<p>
	<br>
	<h5>Scegli il numero della frase corrispondente che contenga almeno soggetto e verbo</h5><br>
	<h5>1)Bel gatto</h5><br>
	<h5>2)Io sono molto felice</h5><br>
	<h5>3)Gatto vivace</h5><br>
      <%= f.label :Frase%>
      <%= f.text_field :frase, class: 'form-control', placeholder: "Indica il numero corrispondente alla frase scelta, es: 1" %>
	</p>
	<p>
	</p>
	
     

      <%= f.submit "Invia", class: "btn btn-primary" %>

<% end %>

</div>
</div>
