<p id="notice"><%= notice %></p>
<% if current_user.demenza? %>
	<div class="col-md-6 col-md-offset-3">
	<table class="table table-bordered table-primary">
	  <thead>
	    <tr class="table-primary">
	      <th scope="col">Data</th>
	      <th scope="col">Orientamento s-p</th>
	      <th scope="col">Memoria</th>
	      <th scope="col">Calcolo</th>
	      <th scope="col">Richiamo</th>
	      <th scope="col">Linguaggio</th>
	      <th scope="col">Totale</th>
	    </tr>
	  </thead>

	  <tbody>
	    
		<% @user.monitoraggios.each do |m| %>
			<tr>
			<% m.somma_punteggio %>
	      		<th scope="row"><%= m.data %></th>
			<th><%= m.orientamentosp %>/7</th>
			<th><%= m.memoria %>/3</th>
			<th><%= m.calcolo %>/5</th>
			<th><%= m.richiamo %>/3</th>
			<th><%= m.linguaggio %>/3</th>
			<th><%= m.totale %>/21</th>
			</tr>
	       <% end %>
	    
	   
	  </tbody>
	</table>
<% else %>
	
	<div class="col-md-6 col-md-offset-3">
	<table class="table table-bordered table-primary">
	  <thead>
	    <tr class="table-primary">
	      <th scope="col">Data</th>
	      <th scope="col">Orientamento s-p</th>
	      <th scope="col">Memoria</th>
	      <th scope="col">Calcolo</th>
	      <th scope="col">Richiamo</th>
	      <th scope="col">Linguaggio</th>
	      <th scope="col">Totale</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
		<% if @user.esiste_monitoraggio == true %>
			<% @user.prendi_user_ass.each do |m| %>
				<% m.somma_punteggio %>
		      		<th scope="row"><%= m.data %></th>
				<th><%= m.orientamentosp %>/7</th>
				<th><%= m.memoria %>/3</th>
				<th><%= m.calcolo %>/5</th>
				<th><%= m.richiamo %>/3</th>
				<th><%= m.linguaggio %>/3</th>
				<th><%= m.totale %>/21</th>
		       <% end %>
		<% else %>
			<%= link_to 'Indietro', root_path(current_user), data: {confirm: "Non hai ancora nessun risultato da monitorare, clicca ok per tornare alla tua schermata di home"} %>	
		<% end %>	
	    </tr>
	   
	  </tbody>
	</table>
<% end %>

<h4>Il MMSE (Mini-Mental State Examination) rappresenta un rapido e sensibile strumento per l'esplorazione della funzione cognitiva e delle sue modifiche nel tempo. Fra le versioni disponibili si propone quella si propone quella validata dal gruppo di Ricerca Geriatrica di Brescia, togliendo gli step che non potevano essere valutati tramite la tecnologia utilizzata, quindi il punteggio totale è pari a un massimo di 21.
Un punteggio inferiore a 16 determina la presenza della demenza, il punteggio è direttamente proporzionale all'efficienza delle funzioni cognitive.</h4>





</div>





