
    <% flash.each do |type, msg| %>
      <div class = "alert alert-info">
        <%= msg %>
      </div>
    <% end %>


<h1>Associa</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.label :associazione %>
      <%= f.text_field :associazione, class: 'form-control' %>

      <%= f.label :Nome %>
      <% f.text_field :nomeass, class: 'form-control' %>

      <%= f.label :Cognome %>
      <% f.text_field :cognomeass, class: 'form-control' %>

      <% end %>


      <%= f.submit "Associa", class: "btn btn-primary" %>

    <% end %>

   
  </div>
</div>
