
<h3>Posts</h3>
<%= form_for :post, url: posts_path, html: { method: :post, multipart: true } do |f| %>
      <div class="field">
         <%= f.text_area :content, cols: 10, rows: 5, placeholder: "Scrivi qui i tuoi pensieri...", id: :write_post%>
      </div>
      <%= f.submit "Pubblica", class: "btn btn-primary" %>
      <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: :picture_post%>
      </span>
<% end %>


<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('La dimensione massima del file è 5 MB. Scegli un file più piccolo.');
    }
  });
</script>

<br>
<br>
<br>

<% if @feed_items %>
  <ol class="posts">
    <%= render @feed_items %>
  </ol>

<% end %>
