<div class="col-md-6 col-md-offset-3">

    
<% if user_signed_in? %>
	    <% if current_user.demenza? %>
		<%= link_to "Inizia il test", new_user_monitoraggio_path(current_user), class: "btn btn-success btn-lg btn-block" %>
		<%= link_to "Vai ai suggerimenti", static_pages_suggerimenti_path(current_user), class: "btn btn-primary btn-lg btn-block" %>
		<%= link_to "Monitora i tuoi risultati", user_monitoraggio_path(current_user, current_user.monitoraggios), class: "btn btn-warning btn-lg btn-block" %>
            <% else %>
		
		<%= link_to "Vai ai suggerimenti", static_pages_suggerimenti_path(current_user), class: "btn btn-primary btn-lg btn-block" %>
		<%= link_to "Monitora", user_monitoraggio_path(current_user, current_user.monitoraggios), class: "btn btn-warning btn-lg btn-block" %>
            <% end %>
<% end %>

</div>
