
<div class="center jumbotron">
    
<% if user_signed_in? %>
	    <% if current_user.demenza? %>
		<%= link_to "Inizia il test", new_user_monitoraggio_path(current_user), data: {confirm: "Premi ok solo dopo aver memorizzato le seguenti parole nel giusto ordine: cane casa forchetta"}, class: "btn btn-success btn-lg btn-block" %>
		<%= link_to "Vai ai suggerimenti", static_pages_suggerimenti_path(current_user), class: "btn btn-primary btn-lg btn-block" %>
		<%= link_to "Monitora i tuoi risultati", user_monitoraggio_path(current_user, current_user.monitoraggios), class: "btn btn-warning btn-lg btn-block" %>
            <% else %>
		
		<%= link_to "Vai ai suggerimenti", static_pages_suggerimenti_path(current_user), class: "btn btn-primary btn-lg btn-block" %>
		<%= link_to "Monitora i tuoi risultati", user_monitoraggio_path(current_user, current_user.monitoraggios), class: "btn btn-warning btn-lg btn-block" %>
		<% if current_user.associazione != nil %>
			<%= link_to "Associazione", user_associazione_path(current_user, current_user.associazione), class: "btn btn-success btn-lg btn-block" %>
		
		<h3>Posizione utente associato</h3>
		<div id="map">
  		
				
			<script type="text/javascript">

			var locations = [
			    ['Roma',41.9109, 12.4818]
			    ['Firenze',43.7874, 11.2499]
			    ['Perugia',43.0977, 12.3838]
			    ['Ancona',43.5991, 13.511]
			];

			var map, infoWindow;
			var marker1, marker2,marker3,marker4;

			function initMap() {
			    var pos = {lat: 41.9109, lng: 12.4818};
			    map = new google.maps.Map(document.getElementById('map'), {
				center: pos,
				zoom: 6
			    });

			    marker1 = new google.maps.Marker({
				    position: pos,
				    map: map,
				    title: "Roma"
			    });
			    
			    // HTML5 geolocation. Documentation on W3School
			    if (navigator.geolocation) {
				  navigator.geolocation.getCurrentPosition(function(position) {
				        var pos = {
				          lat: position.coords.latitude,
				          lng: position.coords.longitude
				        };
				       
				        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
				        var marker = new google.maps.Marker({position: pos, map: map});
				        var admin = new google.maps.Marker({position: admin_pos, map: map, icon:image });
				        infoWindow.setPosition(pos);
				        infoWindow.setContent("Sei qui");
				        infoWindow.open(map);
				        map.setCenter(pos);
				  }, function() {
				        handleLocationError(true, infoWindow, map.getCenter());
				      });
				} else {
				      // Browser doesn't support Geolocation
				      handleLocationError(false, infoWindow, map.getCenter());
				}
			}
		 </script>
		</div>
		
		</div>
		<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbMtKT53jGBZmXB5krZeRZYGUq1F7Ba5o&callback=initMap&libraries=&v=weekly"
		      async
		></script>

		<% end %>
            <% end %>
<% end %>


