<div class="col-md-6 col-md-offset-3">
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
	<script src="//maps.google.com/maps/api/js?key=[your API key]"></script>
	<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
	<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

 	<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  	markers = handler.addMarkers([
    	{
      	"lat": 0,
      	"lng": 0,
      	"picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      	},
      	"infowindow": "hello!"
    	}
  	]);
  	handler.bounds.extendWith(markers);
  	handler.fitMapToBounds();
	});</script>
	<script>
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script>
</div>
</div>
