<div class="col-md-6 col-md-offset-3">
<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "Vai al mio profilo", current_user %></span>
</div>
