<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Cosa è TogetherAnne?</h1>
    <p class="lead">Lo scopo dell’applicazione TogetherAnne è quello di aiutare chi soffre della demenza cognitiva, in tutte le sue forme, soprattutto nella fase iniziale, e chi si occupa di loro, a essere consapevoli della propria o altrui condizione e a spronarlo ad allenare la mente e a non chiudersi in se stessi, attraverso suggerimenti sia di carattere medico che non. Che aspetti? Registrati subito!</p>
	 <%= link_to "Registrati", new_user_registration_path, class: "btn btn-lg btn-link" %>
	<%= link_to "Accedi", new_user_session_path, class: "btn btn-lg btn-link" %>
	<%= link_to "Torna alla schermata iniziale", root_path, class: "btn btn-lg btn-link" %>
  </div>
</div>
