
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="post_form">
        <%= render 'devise/shared/home_d' %>
      </section>
    </aside>

  </div>
<% else %>



<div class="col-md-6 col-md-offset-3">
    <div class="center jumbotron">

        <h1>Benvenuto in TogethereAnne</h1><br>

        <h2>  </h2>
	<div class="col-md-6 col-md-offset-3">
        <%= link_to "Registrati", new_user_registration_path, class: "btn btn-lg btn-primary" %>

        <%= link_to "Accedi", new_user_session_path, class: "btn btn-lg btn-primary" %>
	</div><p><br><br><br>
	<h3>Non vuoi registrarti? Visita la parte dei suggerimenti visibile a tutti</h1><%= link_to "Vai ai suggerimenti", static_pages_suggerimenti_path, class: "btn btn-lg btn-link" %>
        <%= link_to "About us", static_pages_aboutus_path, class: "btn btn-lg btn-link" %></p>
    </div>
	 
	
       
</div>


<% end %>

