


<div class="col-md-6 col-md-offset-3">
    <div class="center jumbotron">
<h1>Suggerimenti</h1>
<div class="card text-white bg-primary" >
  
  <div class="card-body">
    <h2 class="card-title">Attività ricreativa</h2>
    <p class="card-text"><h3>Prendi fogli, pennarelli o pennelli e acquarelli e inizia a dipingere! Ciò stimola la creatività e a esprimere se stessi. Se sei in compagnia meglio! Fate una gara in cui chi disegna/dipinge meglio un oggetto scelto di comune accordo, decide che mangiare per cena! Che aspetti, cerca di vincere! .</h3></p>
  </div>
</div>

<div class="card text-white bg-success" >
  
  <div class="card-body">
    <h2 class="card-title">Alimentazione</h2>
    <p class="card-text">Mantenere una dieta varia, alternando carni bianche e rosse, non
dimenticando pesce, formaggi e uova. Assicurarsi che vi sia un
adeguato apporto di fibre e vitamine (uso di frutta e verdura), utili
anche per correggere eventuali problemi di stipsi.</p>
  </div>
</div>
<div class="card text-white bg-danger" >
  
  <div class="card-body">
    <h2 class="card-title">Mobilità</h2>
    <p class="card-text">La mobilità è un aspetto molto importante, passeggiate accompagnati e uscite all'aria aperta. Al vostro ritorno eseguite degli esercizi da seduti compiendo movimenti circolari con gli arti a rotazione, poi distenderli e piegarli. Questa aiuterà anche la circolazione!</p>
  </div>
</div>
<div class="card text-white bg-warning" >
  
  <div class="card-body">
    <h2 class="card-title">Comunicazione</h2>
    <p class="card-text">Parlare è la chiave. Esprimete sempre ciò che provate e le vostre esigenze, non dovete estraniarvi se vi trovate in difficoltà o vi sentite incompresi.</p>
  </div>
</div>
<div class="card text-white bg-info">
  <div class="card-body">
    <h2 class="card-title">Memoria</h2>
    <p class="card-text">Durante una passeggiata scegliete una lettera e guardandovi intorno cercate più oggetti possibili che inizino con quella lettera.</p>
  </div>
</div><br>
 <%= link_to "Indietro", root_path, class: "btn btn-lg btn-light" %>
</div>
</div>

