










<% provide(:title, "Modifica profilo") %>

<h1>Modifica il tuo profilo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: current_user, url: user_path(resource_name), html: { method: :put, params: current_user}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :cognome %>
      <%= f.text_field :cognome, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :città %>
      <%= f.text_field :indirizzo, class: 'form-control' %>

      <%= f.label :luogo di nascita %>
      <%= f.text_field :luogonascita, class: 'form-control' %>

      <%= f.label :data di nascita %>
      <%= f.date_field :date, class: 'form-control' %>
     
	<%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %>
        <br/>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
      </div>
      <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>



     

      <%= f.submit "Salva", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', current_user, class: "btn btn-primary" %>








