<% provide(:title, 'Registrati') %>

    <% flash.each do |type, msg| %>
      <div class = "alert alert-info">
        <%= msg %>
      </div>
    <% end %>



<div class="col-md-6 col-md-offset-3">
<div class="center jumbotron">
<h1>Registrazione utente</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  
    <%= f.label :Nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :Cognome %>
      <%= f.text_field :cognome, class: 'form-control' %>

      <%= f.label :Email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :Indirizzo %>
      <%= f.text_field :indirizzo, class: 'form-control' %>

      <%= f.label :Città %>
      <%= f.text_field :citta, class: 'form-control' %>

      <%= f.label :Regione %>
      <%= f.text_field :regione, class: 'form-control' %>
	

      <%= f.label :Luogonascita %>
      <%= f.text_field :luogonascita, class: 'form-control' %>

      

      <%= f.label :Datanascita%>
      <%= f.date_field :date, class: 'form-control'%>
      
	

     
   
      <%= f.check_box :demenza, { class: 'checkbox' }, "true", "false" %> Ho la demenza 


      <%= f.label :Password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Conferma password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br>

      <%= f.submit "Crea il mio account", class: "btn btn-lg btn-primary" %>

  
<% end %>
</div>
</div>
</div>
<%= render "users/shared/links" %>



