<header class="navbar navbar-expand-lg navbar-light bg-light">
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
	    <% if current_user.demenza? %>
	    <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Profilo", user_path(current_user) %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
	    <% else %>
            <li><%= link_to "Home", root_path %></li>
	     <li><%= link_to "Profilo", user_path(current_user) %></li>
		<% if current_user.associazione == nil %>
	    		<li><%= link_to "Associazione", new_user_associazione_path(current_user) %></li>
		<% end %>
	    <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
	    <% end %>
        <% end %>
      </ul>
    </nav>
  
</header>

