<!DOCTYPE html>
<html>
  <head>
	<% flash.each do |type, msg| %>
<div>
Notification: <%= msg %>
</div>
<% end %>
    <title>TogetherAnne</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% flash.each do |type, msg| %>
    <div>
        Notification: <%= msg %>
    </div>
    <% end %>
  </head>

  <body>
	<%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
