<h1>CoViD App</h1>

<p>Ciao <%= @user.name %>,</p>

<p>
Benvenuto in CoViD! Clicca sul link che trovi qui sotto e attiva il tuo account:
</p>

<%= link_to "Attiva account", edit_account_activation_url(@user.activation_token,email: @user.email) %>
