Per reimpostare la tua password clicca sul link sottostante:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Questo link scadrà tra due ore.

Se non hai richiesto la reimpostazione della password, ignora questa e-mail e la password rimarrà così com'è.
