<% provide(:title, @user.nome) %>
<div class="col-md-6 col-md-offset-3">
	     <div class="center jumbotron">
<h1>Profilo</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h4>
	  
	  <br>
          <br>
          <strong>Nome:</strong>
          <%= @user.nome %>
          <br>
          <strong>Cognome:</strong>
          <%= @user.cognome %>
          <br>
          <strong>Email:</strong>
          <%= @user.email %>
          <br>
          
          <br>
          <strong>Regione:</strong>
          <%= @user.regione %>
          <br>
          <strong>Indirizzo:</strong>
          <%= @user.indirizzo %>
          <br>
          <strong>Data di nascita:</strong>
          <%= @user.date %>
          <br>
          <strong>Demenza:</strong>
          <%= @user.demenza %>
          <br>

      </h4>
    </section>
           <br>
           <br>
	   <% if @user == current_user %>
		<%= link_to 'Modifica', edit_user_registration_path(current_user), class: "btn btn-lg btn-light"  %> <br> 
		<%= link_to 'Cancella account', user_path(current_user), method: :delete, data: { confirm: 'Sei sicuro di voler cancellare il tuo account?' }, class: 'btn btn-lg btn-light' %>
		
	
	<% end %>
	

  </aside>
</div>
</div>


</div>








