<%= form_with(model: associazione, local: true) do |form| %>
  <% if associazione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associazione.errors.count, "error") %> prohibited this associazione from being saved:</h2>

      <ul>
      <% associazione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomea %>
    <%= form.text_field :nomea, id: :associazione_nomea %>
  </div>

  <div class="field">
    <%= form.label :cognomea %>
    <%= form.text_field :cognomea, id: :associazione_cognomea %>
  </div>

  <div class="field">
    <%= form.label :codicea %>
    <%= form.number_field :codicea, id: :associazione_codicea %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
