<p id="notice"><%= notice %></p>

<h1>Associaziones</h1>

<table>
  <thead>
    <tr>
      <th>Nomea</th>
      <th>Cognomea</th>
      <th>Codicea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>


