<h1>New Associazione</h1>
<% flash.each do |type, msg| %>
    <div class = "alert alert-info">
       <%= msg %>
    </div>
<% end %>
<div class="col-md-6 col-md-offset-3">
<%= form_for :associazione,  url: user_associaziones_path(current_user), html: { method: :post } do |f| %>
 

      <div class="center jumbotron">
      <h1>Associazione</h1>
      <%= f.label :Nome %>
      <%= f.text_field :nomea, class: 'form-control' %>

      <%= f.label :Cognome %>
      <%= f.text_field :cognomea, class: 'form-control' %>

      <%= f.label :Codice_associazione %>
      <%= f.text_field :codicea, class: 'form-control' %><br>
      <%= f.submit "Associa", class: "btn btn-lg btn-primary" %>
</div>
<% end %>
<%= link_to 'Back', root_path %>
