<p id="notice"><%= notice %></p>
<% flash.each do |type, msg| %>
    <div class = "alert alert-info">
       <%= msg %>
    </div>
<% end %>
<div class="col-md-6 col-md-offset-3">
	     <div class="center jumbotron">
      <h1>Associazione</h1>
	<p>
	  <strong>Nomea:</strong>
	  <%= current_user.associazione.nomea %>
	</p>

	<p>
	  <strong>Cognomea:</strong>
	  <%= current_user.associazione.cognomea %>
	</p>

	<p>
	  <strong>Codicea:</strong>
	  <%= current_user.associazione.codicea %>
	</p>


<%= link_to 'Cancella', user_associazione_path(current_user), method: :delete, data: {confirm: "Sei sicuro di voler eliminare l'associazione?"} %>		
<%= link_to 'Back', root_path %>
</div>
</div>
